/* main */
.connection{
    margin-top: 40px;
}

/* div de creer le compte et oublier le mot de passe  */
#cree_oublier{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 12px;
    text-align: center;
}
/* bouton valider*/
#valider_connection{
    width: 100px;
    height: 20px;
    background-color: var(--vert);
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin: auto;
    border: none;
    margin-top: 213px;
}