/* div | input et p | */
.datetime_administrateur {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    font-size: 12px;
    align-items: baseline;
}

/* deux input date  */
.input_date_admin {
    width: 100px;
    height: 20px;
}

/* tr du thead du tableau */

tr.head_tableau_reservation:nth-child(odd) {
    background-color: #fdfdfd;
}

/* tr du tbody du tableau  */

tr.head_tableau_reservation {
    font-size: 12px;
    font-family: var(--montserrat);
}

/*tableau */
table {
    font-family: var(--montserrat);
}

/* H1 H2*/
#h2_gestion_admin_reservation,
.h1_gestion_admin_reservation {
    font-family: var(--roboto);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

/* div qui contient la div input_label_admin_reservation | du mois en cours trimestre et semestre */
.radio_mts {
    display: flex;
    font-size: 12px;
    font-family: var(--montserrat);
    justify-content: space-evenly;
    margin-bottom: 10px;
}

/* div input et label  */
.input_label_admin_reservation {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    align-items: center;
}

/* taille des input */
.taille_input {
    width: 13px;
    height: 13px;
    accent-color: var(--bleu);
}

/* from qui contient le input label radio  */
.radio_client_mozeur_admin {
    display: flex;
    font-size: 12px;
    font-family: var(--montserrat);
    justify-content: center;
    margin-bottom: 10px;
    gap: 25px;
}

/* boutton | modifier une prestation */
#modifier_une_prestation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 25px;
    font-size: 12px;
    border: none;
    background-color: var(--vert);
    margin: auto;
    margin-top: 35px;
}