/* H1 */
#h1_gestion-admin{
    font-size: 15px;
    font-weight: bold;
    font-family: roboto ;
    text-align: center;
}
/* H2 |demande à traiter */

#h2_gestion_admin{
    font-size: 12px;
    font-family: montserrat;
    margin-left: 15px;
}
/* tableau */
table{
    width: 100%;
}
/*les lignes dans la table , Mozeur et prestations */
tr{
    display: flex;
    gap: 2.5rem;
    width: 100%;
    padding-left: 0.5rem;
    font-size: 12px;
}
/* couleur une sur deux dans la table*/
tr:nth-child(odd) {
    background-color: var(--vert) ;
}
/* enleve la couleur dans le thead*/
tr.head_tableau:nth-child(odd){
    background-color: #fdfdfd  ;    
}
/* input du 1er form   */
.select_sous_categorie{
    width: 150px;
    height: 25px;
}
/* 1er form */
#form_gestion_admin{
    display: flex;
    flex-direction: column;
    gap: 15px;
  align-content: flex-start;
  flex-wrap: wrap;
}
/* input / label du premier form */
.input_label_admin{
    margin: auto;
    width: 280px;
    text-align: right;
    font-size: 12px;
}
/* p | créer un catégorie */
#cree-categorie{
    text-align: center;
    font-size: 15px;
    font-family: var(--roboto);
}
/* boutton annuler */
.annuler{
    width: 100px;
    height: 25px;
    border: none;
    background-color: var(--bleu);
    font-size: 12px;

    align-items: center;
}
/* boutton valider*/

#valider_gestion_admin {
    width: 100px;
    height: 25px;
    background-color: var(--vert);
    font-size: 12px;
    border: none;
    align-items: center;
}
/* div des deux boutton  */
.button{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}