/* Header */
#header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Menu partie droite */
#home_burger {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 5px;
    align-items: center;
}

/* Bouton on recrute */
#bouton_recrute {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    font-family: var(Montserrat);
    font-size: 12px;
    background-color: var(--vert);
}

/* Logo By Moze */
.logo_by_moze {
    width: 70px;
    height: 15px;
    margin-left: 10px;
}

/* Icône Home */
.home_button {
    width: 19px;
    height: 19px;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 6px;
    background-color: var(--bleu);
    margin: 6px 0;
}

/* Div Home + texte */
#home_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
}

/* Texte Home */
#text_home {
    font-family: var(Montserrat);
    font-size: 10px;
    color:  --bleu;
    margin-bottom: 0;
}

/* Lower line */
.lower_line {
    width: 100%;
    height: 2px;
    background-color: var(--bleu);
    outline: none;
    border: none;
    margin: 0;
    opacity: 1;

}