/* Header */
#header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Menu partie droite */
#home_burger {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 5px;
    align-items: center;
}

/* Bouton on recrute */
#bouton_recrute {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    font-family: montserrat;
    font-size: 12px;
    background-color: --vert;
    border: none;
}

/* Logo By Moze */
.logo-by-moze {
    width: 70px;
    height: 15px;
    margin-left: 10px;
}

/* Icône Connect */
.connect_button {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    /* margin-top: 4px; */
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 6px;
    background-color: --bleu;
    margin: 6px 0;
}

/* Lower line */
.lower_line {
    width: 100%;
    height: 2px;
    background-color: --bleu;
    outline: none;
    border: none;
    margin: 0;
    opacity: 1;

}