/* Header */
#header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Menu partie droite */
#home_burger {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 5px;
    align-items: center;
}

/* Bouton on recrute */
#bouton_recrute {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    font-family: var(--montserrat);
    font-size: 12px;
    background-color: --vert;
    border: none;
}

/* Logo By Moze */
.logo-by-moze {
    width: 70px;
    height: 15px;
    margin-left: 10px;
}

/* Icône Connect */
.connect_button {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    /* margin-top: 4px; */
}

/* Icône burger */
.burger-icon {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    background-color: --bleu;
    margin: 6px 0;
}

/* Lower line */
.lower_line {
    width: 100%;
    height: 2px;
    background-color: --bleu;
    outline: none;
    border: none;
    margin: 0;
    opacity: 1;

}
/* cache le menu burger */
.hidden{
    display: none;
}
/* pop up header pour le menu burger */
.div_btn{
    display: flex;
    width: 50px;
    flex-direction: row;
    gap: 20px;
    font-size: 12px;
    align-items: start;
    margin: auto;
}
/* texte dans le pop up */
.div_btn > p {
font-family: 'Roboto', sans-serif;
}
/* cadre du pop up qui apparait */
#modal_bg > .cadre_popup {
    width: 110px;
    height: 210px;
    background-color: #ffffff;
    margin: auto ;
    transform: translateY(calc(12vh - 75px))
                translateX(115%);
    padding: 15px;
    background-color: #bacf318e;
    animation: popup 1.3s linear ;
}
@keyframes popup {
    0%{
    opacity: 0;
        
    }
    100%{
        opacity: 1;
    }
}
.icons_nav{
    width: 15px;
    height: 15px;
}