*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ul_insc3{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content:center;
    gap: 5px;
}

.li_etape1 ,.li_etape2 , .li_etape3{
    border: solid 1px;
    margin-top: 10px;
    border-left: none;
    border-top: none;
    padding: 4px;
    transform: skewX(-40deg);
    border-bottom-right-radius: 10px;


}

.p1, .p2, .p3{
    transform: skewX(40deg);
}

.p3{
    color: var(--vert);
    
}

.form_insc3{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
    margin: 5px;
}

.form_insc3 > input{
    width: 200px;
    height: 30px;
}

.but_insc{
    display: flex;
    margin: auto;
    background-color: var(--vert);
    width: 100px;
    height: 20px;
    margin-top: 75px;
}
