/* UL */
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

/* Labels */
label{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: var(--montserrat);
    font-size: 12px;
}

/* Etapes */
li {
    margin-top: 5px;
    font-family: var(--roboto);
    font-size: 12px;
}

/* Formulaire */
#form_creation_mozeur1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin: auto;
    width: 250px;
}

.li_etape1 ,.li_etape2 , .li_etape3{
    border: solid 1px;
    margin-top: 10px;
    border-left: none;
    border-top: none;
    padding: 4px;
    transform: skewX(-40deg);
    border-bottom-right-radius: 10px;
}