#nous_contacter {
    font-size: 12px;
    text-align: center;
    width: 80%;
    margin: auto;
}
#table_vos_reservation{
    margin-bottom: 170px;
}
.h1_reservation{
    font-size: 15px;
    text-align: center;
    padding: 10px;
}